@mixin textPattern($weight, $height, $space){
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $space;
}

@mixin hoverEffect($state){
  @if $state == 'hover'{
    @media (hover:hover) {
      @content;
    }
  }
  @else if($state == 'none'){
    @media (hover: none) {
      @content;
    }
  }
}